body {
  background-color: #1c2833;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
.developer {
  color: #BB8fce;
  font-style: italic;
}
img {
  float: right;
}
.mine {
  text-decoration: underline;
}
.info {
  color: #424949;
  font-style: italic;
  font-size-adjust: auto;
}
.projects {
  text-align: center;
  text-decoration: underline;
}
.project {
  font-family: sans-serif;
}
